AWSTemplateFormatVersion: "2010-09-09"

Parameters:
  ImageUri:
    Type: String
    Description: Uri of the main application image
  ServiceName:
    Type: String
    Description: Name of the ECS service
  EcsClusterName:
    Type: String
    Description: Name of the ECS Cluster where the service should be created
  SubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
    Description: Subnets to be used by the ECS Service
  SecurityGroupIds:
    Type: List<AWS::EC2::SecurityGroup::Id>
    Description: Security Groups to be used by the ECS Service

Resources:
  EcsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - ecs-tasks.amazonaws.com
                - ecs.amazonaws.com
            Action:
              - 'sts:AssumeRole'
      ManagedPolicyArns: 
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy
      RoleName: EcsAppExecutionRole

  TaskDef:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Cpu: 256
      Memory: 512
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      ExecutionRoleArn: !Ref EcsExecutionRole
      ContainerDefinitions:
        - Name: application
          Image: !Ref ImageUri
          Cpu: 256
          PortMappings:
            - ContainerPort: 80
              HostPort: 80
              Protocol: tcp
          Memory: 512
          Essential: true
  Service:
    Type: 'AWS::ECS::Service'
    Properties:
      ServiceName: !Ref ServiceName
      Cluster: !Ref EcsClusterName
      DesiredCount: 1
      LaunchType: FARGATE
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED
          SecurityGroups: !Ref SecurityGroupIds
          Subnets: !Ref SubnetIds
      TaskDefinition: !Ref TaskDef
